*c:\sv\cmds\mm.bat (mm)
**c:\sv\cmds\pid-mousemove.bat (close mm)
*c:\sv\cmds\pid-search file.bat (close search)
*c:\sv\cmds\open.bat (open)
*c:\sv\cmds\close.bat (close)
*c:\sv\cmds\search.bat (search)
*c:\sv\cmds\runcmd.bat (run command)
*c:\sv\cmds\search.bat (search1)
*c:\sv\cmds\runcmd.bat (run command1)
*c:\sv\cmds\runcmd.bat (run command2)
