*c:\sv\cmds\mm.bat (mm)
*c:\sv\cmds\pid-mousemove.bat (c-mm)
*c:\sv\cmds\close.bat (close)
*c:\sv\cmds\search.bat (search)
*c:\sv\cmds\mm.bat (mm)
*c:\sv\cmds\pid-mousemove.bat (c-mm)
*c:\sv\cmds\close.bat (close)
*c:\sv\cmds\search.bat (search)
*c:\sv\cmds\mm.bat (mm)
*c:\sv\cmds\pid-mousemove.bat (c-mm)
*c:\sv\cmds\close.bat (close111)
*c:\sv\cmds\search.bat (search222)
